@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/Oswald-SemiBold.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'InterVariable', sans-serif ;
}