@tailwind base;
@tailwind components;
@tailwind utilities;


/* assets/css/main.css */

/* assets/css/main.css */

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf')
       format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


/* برای تست قوی‌تر، فونت را به کل بدنه تحمیل کن */
html, body {
  font-family: 'inteFont', sans-serif !important;
}


